/* #region header */
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin 80%
    }
    header span{
        vertical-align: top;
    }

    #logo{
        font-size: 40px;
        font-weight: bold;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

/* #endregion header */

/* #region main */
body{
    background-color: #f6f8f9;
}

main{
    padding: 50px 250px;
}
#lista{
    list-style-type: none;
  margin: 0;
  padding: 0;
}
#button_1{
    border-radius: 10px;
    background-color: #47adf1;
    border-color: #47adf1;
    padding: 5px;
    color: white;
}
#button_2{
    border: 3px;
    border-radius: 10px;
    border-color: white;
    padding: 5px;
    color: rgb(158, 156, 156);
}

.check{
    border: 2px solid green;
    color: green;
    border-radius: 50%;
    height: 28px;
    width: 22px;
    display: inline-block;
    padding-left: 5px;
    font-size: larger;
}

.cross{
    border: 2px solid red;
    color: red;
    border-radius: 50%;
    height: 28px;
    width: 22px;
    display: inline-block;
    padding-left: 5px;
    font-size: larger;
}

.blueB{
    background: #47adf1 ;
    color: white;
    border: 2px solid #47adf1;
    padding: 6px;
    border-radius: 15px;
    font-size: 12px;
}
.purpleB{
    background: #9c72e4 ;
    color: white;
    border: 2px solid #9c72e4;
    padding: 6px;
    border-radius: 15px;
    font-size: 12px;
}
.orangeB{
    background: #f29e33 ;
    color: white;
    border: 2px solid #f29e33;
    padding: 6px;
    border-radius: 15px;
    font-size: 12px;
}
.pinkB{
    background: #d863a1 ;
    color: white;
    border: 2px solid #d863a1;
    padding: 6px;
    border-radius: 15px;
    font-size: 12px;
}
.yellowB{
    background: #b0c926 ;
    color: white;
    border: 2px solid #b0c926;
    padding: 6px;
    border-radius: 15px;
    font-size: 12px;
}
/* #endregion main */

